@import "../../../../../_var";

.container {
  position: relative;
  box-sizing: border-box;

  input {
    height: 2rem;
    text-indent: 30px;
    width: 100%;
    max-width: 50rem;
    box-sizing: border-box;
  }

  i {
    position: absolute;
    top: 5px;
    left: 7px;
    color: black;
    font-size: 15px;
  }
}

.results-container {
  position: absolute;
  box-shadow: 3px 3px 3px black;
  width: 100%;
  background-color: white;
}

.results {
  .result-item {
    background-color: white;
    transition: background-color 0.3s ease-in;
  }

  .result-item:hover {
    background-color: rgb(116, 195, 214);
    transition: background-color 0.3s ease-in;
  }

  .result-item-box {
    display: flex;
    padding: 10px 20px;
    color: black;
    align-items: center;

    .poster {
      max-width: 2rem;
      height: auto;
      width: 100%;
    }

    .title::before {
      content: "\00a0";
    }
  }

  .no-results {
    color: black;
    font-weight: bold;
    padding: 10px 20px;
  }
  .no-results::after {
    content: "\00a0" "🙁";
  }
}

@media (min-width: $mediaQueryMinWidth) {
  .container input {
    width: 22rem;
  }

  .results-container {
    max-width: 22rem;
  }

  .poster {
    max-width: 3rem;
  }
}
