@import "../../../_var";

.container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $navbarColor;
  width: 70%;
  height: 100vh;
  z-index: 90;
  transition: transform 0.3s ease-in;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

@media (min-width: $mediaQueryMinWidth) {
  .container {
    display: none;
  }
}
