@import "../../_var";

.container {
  background-color: $navbarColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $navbarHeight;

  .logo {
    width: 120px;
    height: auto;
    margin: auto 10px;
    filter: grayscale(100);
    transition: filter 0.3s ease-in-out;
  }

  .logo:hover {
    filter: grayscale(0);
  }
}
