* {
  transition: all 0.3s;
}

.container {
  display: grid;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-template-areas: "favorites" "likes";
}

.favorites {
  display: grid;
  grid-area: favorites;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  grid-template-areas: "favorites-movies-container favorites-movies-container" "favorites-series-container favorites-series-container";
}

.favorites-movies-container {
  display: grid;
  grid-area: favorites-movies-container;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  grid-template-areas: "favorites-movies-title favorites-movies-title" "favorites-movies-data favorites-movies-data";
}

.favorites-movies-title {
  grid-area: favorites-movies-title;
}

.favorites-movies-data {
  grid-area: favorites-movies-data;
  overflow: hidden;
}

.favorites-series-container {
  display: grid;
  grid-area: favorites-series-container;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  grid-template-areas: "favorites-series-title favorites-series-title" "favorites-series-data favorites-series-data";
}

.favorites-series-title {
  grid-area: favorites-series-title;
}

.favorites-series-data {
  grid-area: favorites-series-data;
  overflow: hidden;
}

.likes {
  display: grid;
  grid-area: likes;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  grid-template-areas: "likes-movies-container likes-movies-container" "likes-series-container likes-series-container";
}

.likes-movies-container {
  display: grid;
  grid-area: likes-movies-container;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  grid-template-areas: "likes-movies-title likes-movies-title" "likes-movies-data likes-movies-data";
}

.likes-movies-title {
  grid-area: likes-movies-title;
}

.likes-movies-data {
  grid-area: likes-movies-data;
  overflow: hidden;
}

.likes-series-container {
  display: grid;
  grid-area: likes-series-container;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  grid-template-areas: "likes-series-title likes-series-title" "likes-series-data likes-series-data";
}

.likes-series-title {
  grid-area: likes-series-title;
}

.likes-series-data {
  grid-area: likes-series-data;
  overflow: hidden;
}

.area-overlap-favorites-movies-title,
.area-overlap-favorites-series-title,
.area-overlap-likes-movies-title,
.area-overlap-likes-series-title {
  div {
    display: inline-block;
  }

  h1,
  i {
    cursor: pointer;
  }
}

.open {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

.close {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
