@import "../../../../../_var";

.title {
  color: whitesmoke;
  font-size: 1rem;
}

.dropdown-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  background-color: unset;
  border: none;
}

.dropdown-container {
  background-color: $navbarColor;
  box-shadow: 3px 3px 3px black;
  border-radius: 0 0 10px 10px;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.6s;
}

.dropdown-list {
  li {
    padding: 10px 0;
    background-color: rgba(36, 36, 36, 0.781);
  }
  li:nth-child(odd) {
    background: rgba(14, 14, 14, 0.671);
  }

  a {
    position: relative;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.open {
  max-height: 500px;
}
.close {
  max-height: 0;
}

@media (min-width: $mediaQueryMinWidth) {
  .dropdown-button {
    min-width: 8rem;
  }
  .dropdown-container {
    position: absolute;
    top: 4rem;
    min-width: 8rem;
  }
}
