* {
  min-height: 0;
  min-width: 0;
}

.slider-container {
  position: relative;
  display: inline-block;
  width: 100%;
  // max-width: 80vw;
  height: auto;
  margin: 0 auto;
}

.normal-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.slides {
  width: 80%;
  margin: 0 auto;
}
