@import url("/static/fonts/fontello/css/fontello.css");
@import url("/static/styles/slick.min.css");
@import url("/static/styles/slick-theme.min.css");

@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/static/fonts/Montserrat-SemiBold.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Light.ttf");
  font-weight: 100;
}

body {
  background-image: url("/static/images/background.gif");
  font-family: Montserrat, sans-serif;
}

/* react-css-transition-group animations */
/* Fade */
.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* Shrink CardItem in user's profile */
.shrink-card-exit {
  max-width: 200px;
  max-height: 302px;
}

.shrink-card-exit-active {
  max-width: 0;
  max-height: 0;
  transition: max-width 300ms ease-out, max-height 300ms ease-out;
}
