.category-content {
  .homepage {
    color: rgb(23, 125, 184);
  }
  p {
    margin: 10px 0;
  }
  margin: 1.5rem 0;
}

.category-title {
  font-weight: bold;
  color: #dfeeff;
}

.category-data {
}
