@import "../../../_var";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  height: $navbarHeight;
  background-color: $navbarColor;
}

.items {
  display: none;
}

@media (min-width: $mediaQueryMinWidth) {
  nav {
    width: 80%;
    margin: 0 auto;
  }

  .items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
