.container {
  display: flex;
  justify-content: center;
}

.containerClassName {
  display: inline-block;
  list-style-type: none;
  color: black;
  li {
    display: inline;
  }
}

.pageClassName {
  cursor: pointer;
  background-color: transparent;
  margin: 0 6px;
  border-radius: 3px;
  border: 1px solid gray;
  a {
    padding: 3px 6px;
  }
}

.previousClassName {
  cursor: pointer;
  background-color: transparent;
  margin: 0 6px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid gray;
}

.nextClassName {
  cursor: pointer;
  background-color: transparent;
  margin: 0 6px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid gray;
}

.breakClassName {
  color: gray;
}

.activeClassName {
  border: 1px solid #1890ff;
  background-color: rgba(36, 36, 36, 0.781);
  a {
    color: white;
  }
}

.disabledClassName {
  cursor: not-allowed;
}
