.icon {
  max-height: 2rem;
}

button:hover {
  .shake {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .rotate {
    animation: rotate 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: rotateZ(45deg);
  }

  20%,
  80% {
    transform: rotateZ(-45deg);
  }

  30%,
  50%,
  70% {
    transform: rotateZ(45deg);
  }

  40%,
  60% {
    transform: rotateZ(-45deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
