@import "../../../../_var";

ul {
  padding: 0;
}

.left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searchbar {
  width: 100%;
}

.desktop-only {
  display: none;
}

@media (min-width: $mediaQueryMinWidth) {
  .left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .desktop-only {
    display: flex;
  }

  .mobile-only {
    display: none;
  }
}
