@import "./__var";

* {
  font-family: "Roboto", sans-serif;
  button {
    outline: none;
  }
}

body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  color: whitesmoke;
}

.wrapper {
  min-height: 100%;
  display: grid;
  position: relative;
  background-color: black;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  grid-template-areas: "header" "main" "footer";

  .header {
    position: sticky;
    top: 0;
    background-color: $navbarColor;
    height: $navbarHeight;
    width: 100%;
    z-index: 90;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}
